{% if page.has_other_pages %}

    <nav aria-label="...">
        <ul class="pagination justify-content-center">

            <li class="page-item {% if not page.has_previous %} disabled {% endif %}">
                <a href="{{ request.path }}?page=1" class="page-link"> (1) << </a>
            </li>

            {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ request.path }}?page={{ page.number | add:"-1" }}">{{ page.number | add:"-1" }}</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="#" aria-current="page">{{ page.number }}</a>
            </li>

            {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ request.path }}?page={{ page.number | add:"1" }}">{{ page.number | add:"1" }}</a>
                </li>
            {% endif %}


            <li class="page-item {% if not page.has_next %} disabled {% endif %}">
                <a class="page-link" href="{{ request.path }}?page={{ page.paginator.num_pages }}"> >>
                    ({{ page.paginator.num_pages }}) </a>
            </li>

        </ul>
    </nav>

{% endif %}