<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 ">
    <div class="list-group">
        {% for comment in comments %}
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3"
               aria-current="true">
                <img src="https://github.com/twbs.png" alt="" width="32" height="32"
                     class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">{{ comment.user.username }}</h6>
                        <p class="mb-0 opacity-75">{{ comment.text }}</p>
                    </div>
                    <small class="opacity-50 text-nowrap">{{ comment.created_at | date:'l j M. Y H:i' }}</small>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
